# <font color= green>Spreading public financial data using a jupyter notebook 
### -  import data from SimFin in a csv file
### -  create smaller dataframes from the primary dataframe for P&L, BS and CF </font>

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('SimFin-aapl-10yrdata.xlsx')

In [3]:
row_pl = df[df['Data provided by SimFin']== 'Profit & Loss statement'].index[0]
row_bs = df[df['Data provided by SimFin'] == 'Balance Sheet'].index[0]
row_cf = df[df['Data provided by SimFin']== 'Cash Flow statement'].index[0]

In [4]:
print(row_pl, row_bs, row_cf)

1 13 50

In [5]:
pl_df = df.iloc[row_pl:row_bs-1, 1:]
pl_df.columns = pl_df.iloc[1]
pl_df.set_index('in million USD', inplace = True)
pl_df.dropna(axis=0)
pl_df = pl_df[2:]

### <font color= red> Profit & Loss Statement</font>

In [6]:
pl_df

2,FY '16,FY '15,FY '14,FY '13,FY '12,FY '11,FY '10,FY '09,FY '08,FY '07
in million USD,,,,,,,,,,
Revenue,215639,233715,182795,170910,156508,108249,65225,42905,37491,24578
Cost of revenue,-131376,-140089,-112258,-106606,-87846,-64431,-39541,-25683,-24294,-16426
Gross Profit,84263,93626,70537,64304,68662,43818,25684,17222,13197,8152
Operating Expenses,-24239,-22396,-18034,-15305,-13421,-10028,-7299,-5482,-4870,-3745
Operating Income (Loss),60024,71230,52503,48999,55241,33790,18385,11740,8327,4407
Non-Operating Income (Loss),1348,1285,980,1156,522,415,155,326,620,599
Pretax Income (Loss),61372,72515,53483,50155,55763,34205,18540,12066,8947,5006
"Income Tax (Expense) Benefit, net",-15685,-19121,-13973,-13118,-14030,-8283,-4527,-3831,-2828,-1511
Net Income Available to Common Shareholders,45687,53394,39510,37037,41733,25922,14013,8235,6119,3495

In [7]:
bs_df = df.iloc[row_bs:row_cf, 1:]
bs_df.columns = bs_df.iloc[1]
# pl_df.set_index('in million USD', inplace = True)
bs_df.set_index('in million USD', inplace = True)
bs_df = bs_df.iloc[2:]

### <font color=red> Balance Sheet </font>

In [8]:
bs_df

14,FY '16,FY '15,FY '14,FY '13,FY '12,FY '11,FY '10,FY '09,FY '08,FY '07
in million USD,,,,,,,,,,
Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Cash, Cash Equivalents & Short Term Investments",67155,41601,25077,40546,29129,25952,25620,23464,22111,NaN
Accounts & Notes Receivable,15754,16849,17460,13102,10930,5369,5510,3361,2422,NaN
Inventories,2132,2349,2111,1764,791,776,1051,455,509,NaN
Other Short Term Assets,21828,28579,23883,17874,16803,12891,9497,4275,4964,NaN
Total Current Assets,106869,89378,68531,73286,57653,44988,41678,31555,30006,NaN
"Property, Plant & Equipment, Net",27010,22471,20624,16597,15452,7777,4768,2954,2455,NaN
Long Term Investments & Receivables,170430,164065,130162,106215,92122,55618,25391,10528,2379,NaN
Other Long Term Assets,17377,14431,12522,10902,10837,7988,3346,2464,1331,NaN
Total Noncurrent Assets,214817,200967,163308,133714,118411,71383,33505,15946,6165,NaN
Total Assets,321686,290345,231839,207000,176064,116371,75183,47501,36171,NaN
Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Payables & Accruals,59321,60671,48649,36223,32589,23879,17738,9453,9744,NaN
Accounts Payable,37294,35490,30196,22367,21175,14632,12015,5601,5520,NaN
Other Payables & Accruals,22027,25181,18453,13856,11414,9247,5723,3852,4224,NaN
Short Term Debt,11605,10999,6308,0,NaN,NaN,NaN,NaN,NaN,NaN
Short Term Borrowings,8105,8499,6308,0,NaN,NaN,NaN,NaN,NaN,NaN
Current Portion of Long Term Debt,3500,2500,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other Short Term Liabilities,8080,8940,8491,7435,5953,4091,2984,2053,1617,NaN
Deferred Revenue,8080,8940,8491,7435,5953,4091,2984,2053,1617,NaN
Total Current Liabilities,79006,80610,63448,43658,38542,27970,20722,11506,11361,NaN
Long Term Debt,75427,53329,28987,16960,0,NaN,NaN,NaN,NaN,NaN
Other Long Term Liabilities,39004,37051,27857,22833,19312,11786,6670,4355,2513,NaN
Deferred Revenue,2930,3624,3031,2625,2648,1686,1139,853,768,NaN
Miscellaneous Long Term Liabilities,36074,33427,24826,20208,16664,10100,5531,3502,1745,NaN
Total Noncurrent Liabilities,114431,90380,56844,39793,19312,11786,6670,4355,2513,NaN
Total Liabilities,193437,170990,120292,83451,57854,39756,27392,15861,13874,NaN
Share Capital & Additional Paid-In Capital,31251,27416,23313,19764,16422,13331,10668,8210,7177,NaN
Common Stock,31251,27416,23313,19764,16422,13331,10668,8210,7177,NaN
Retained Earnings,96364,92284,87152,104256,101289,62841,37169,23353,15129,NaN
Other Equity,634,-345,1082,-471,499,443,-46,77,-9,NaN
Equity Before Minority Interest,128249,119355,111547,123549,118210,76615,47791,31640,22297,NaN
Total Equity,128249,119355,111547,123549,118210,76615,47791,31640,22297,NaN
Total Liabilities & Equity,321686,290345,231839,207000,176064,116371,75183,47501,36171,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
cf_df = df.iloc[row_cf: ,1:]
cf_df.columns = cf_df.iloc[1]
cf_df.dropna()
cf_df.set_index('in million USD',inplace = True)

### <font color=red> Cash Flow </font>

In [10]:
cf_df

51,FY '16,FY '15,FY '14,FY '13,FY '12,FY '11,FY '10,FY '09,FY '08,FY '07
in million USD,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
in million USD,FY '16,FY '15,FY '14,FY '13,FY '12,FY '11,FY '10,FY '09,FY '08,FY '07
Net Income/Starting Line,45687,53394,39510,37037,41733,25922,14013,8235,6119,3495
Depreciation & Amortization,10505,11257,7946,6757,3277,1814,1027,734,496,327
Non-Cash Items,9634,5353,5210,3394,6145,4036,2319,1750,936,327
Change in Working Capital,-2,11262,7047,6478,-299,5757,1236,-560,2045,1321
Cash from Operating Activities,65824,81266,59713,53666,50856,37529,18595,10159,9596,5470
Change in Fixed Assets & Intangibles,-13548,-11488,-9813,-9076,-9402,-7452,-2121,-1213,-1199,-986
Net Change in Long Term Investment,-32022,-44417,-9027,-24042,-38427,-32464,-11075,-16046,-6760,-2312
Net Cash From Acquisitions & Divestitures,-297,-343,-3765,-496,-350,-244,-638,0,-220,0
Other Investing Activities,-110,-26,26,-160,-48,-259,-20,-175,-10,49
Cash from Investing Activities,-45977,-56274,-22579,-33774,-48227,-40419,-13854,-17434,-8189,-3249
Dividends Paid,-12150,-11561,-11126,-10564,-2488,0,0,NaN,NaN,NaN
Cash From (Repayment of) Debt,22057,29305,18266,16896,0,0,NaN,NaN,NaN,NaN
Cash From (Repurchase of) Equity,-29227,-34710,-44270,-22330,665,831,912,475,483,365
Other Financing Activities,-1163,-750,-419,-381,125,613,345,188,633,374
Cash from Financing Activities,-20483,-17716,-37549,-16379,-1698,1444,1257,663,1116,739
Net Changes in Cash,-636,7276,-415,3513,931,-1446,5998,-6612,2523,2960