# <font color= green>Spreading public financial data using a jupyter notebook 
### -  import data from SimFin in a csv file
### -  create smaller dataframes from the primary dataframe for P&L, BS and CF </font>

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('SimFin-appl(1).xlsx')

In [3]:
row_pl = df[df['Data provided by SimFin']== 'Profit & Loss statement'].index[0]
row_bs = df[df['Data provided by SimFin'] == 'Balance Sheet'].index[0]
row_cf = df[df['Data provided by SimFin']== 'Cash Flow statement'].index[0]

In [4]:
print(row_pl, row_bs, row_cf)

1 15 49

In [5]:
pl_df = df.iloc[row_pl:row_bs-1, 1:]
pl_df.columns = pl_df.iloc[1]
pl_df.set_index('in million USD', inplace = True)
pl_df.dropna(axis=0)
pl_df = pl_df[2:]

### <font color= red> Profit & Loss Statement</font>

In [6]:
pl_df

2,Q2 '18,Q1 '18,Q4 '17,Q3 '17,Q2 '17,Q1 '17,Q4 '16,Q3 '16,Q2 '16,Q1 '16
in million USD,,,,,,,,,,
Net sales,61137,88293,52579,45408,52896,78351,46852,42358,50557,75872
Cost of sales,37715,54381,32648,27920,32305,48175,29039,26252,30636,45449
Gross margin,23422,33912,19931,17488,20591,30176,17813,16106,19921,30423
Research and development,3378,3407,2997,2937,2776,2871,2570,2560,2511,2404
"Selling, general and administrative",4150,4231,3814,3783,3718,3946,3482,3441,3423,3848
Total operating expenses,7528,7638,6811,6720,6494,6817,6052,6001,5934,6252
Operating Income,15894,26274,13120,10768,14097,23359,11761,10105,13987,24171
"Other income/(expense), net",274,756,797,540,587,821,427,364,155,402
Income before provision for income taxes,16168,27030,13917,11308,14684,24180,12188,10469,14142,24573
Provision for income taxes,2346,6965,3203,2591,3655,6289,3174,2673,3626,6212
Net income,13822,20065,10714,8717,11029,17891,9014,7796,10516,18361

In [8]:
bs_df = df.iloc[row_bs:row_cf-1, 1:]
bs_df.columns = bs_df.iloc[1]
# pl_df.set_index('in million USD', inplace = True)
bs_df.set_index('in million USD', inplace = True)
bs_df = bs_df.iloc[2:]

### <font color=red> Balance Sheet </font>

In [9]:
bs_df

16,Q2 '18,Q1 '18,Q4 '17,Q3 '17,Q2 '17,Q1 '17,Q4 '16,Q3 '16,Q2 '16,Q1 '16
in million USD,,,,,,,,,,
Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cash and cash equivalents,45059,27491,20289,18571,15157,16371,20484,18237,21514,16689
Short-term marketable securities,42881,49662,53892,58188,51944,44081,46671,43519,33769,21385
"Accounts receivable, less allowances of $82 and $86, respectively",14324,23440,17874,12399,11579,14057,15754,11714,12229,12953
Inventories,7662,4421,4855,3146,2910,2712,2132,1831,2281,2451
Vendor non-trade receivables,8084,27459,17799,10233,9033,13920,13545,7328,7595,11668
Other current assets,12043,11337,13936,10338,11367,12191,8283,11132,10204,11073
Total current assets,130053,143810,128645,112875,101990,103332,106869,93761,87592,76219
Long-term marketable securities,179286,207944,194714,184757,189740,185638,170430,169764,177645,177665
"Property, plant and equipment, net",35077,33679,33783,29286,27163,26510,27010,25448,23203,22300
Goodwill,NaN,5889,5717,5661,5473,5423,5414,5261,5249,5202
"Acquired intangible assets, net",NaN,2149,2298,2444,2617,2848,3206,3506,3843,3924
Other assets,23086,13323,10162,10150,7549,7390,8757,7862,7745,7974
Total assets,367502,406794,375319,345173,334532,331141,321686,305602,305277,293284
Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accounts payable,34311,62985,49049,31915,28573,38510,37294,26318,25098,33312
Accrued expenses,26756,26281,25744,23304,23096,23739,22027,20820,23208,24032
Deferred revenue,7775,8044,7548,7608,7682,7889,8080,8352,9461,8989
Commercial paper,11980,11980,11977,11980,9992,10493,8105,12496,7998,7259
Current portion of long-term debt,8498,6498,6496,6495,3999,3499,3500,3500,2500,2500
Total current liabilities,89320,115788,100814,81302,73342,84130,79006,71486,68265,76092
"Deferred revenue, non-current",3087,3131,2836,2984,3107,3163,2930,3064,3322,3546
Long-term debt,101362,103922,97207,89864,84531,73557,75427,68939,69374,53204
Other non-current liabilities,46855,43754,40415,38598,39470,37901,36074,35572,33859,32175
Total liabilities,240624,266595,241272,212748,200450,198751,193437,179061,174820,165017
Commitments and contingencies,0,0,0,0,0,0,0,0,0,0
"Common stock and additional paid-in capital, $0.00001 par value: 12,600,000 shares authorized; 5,578,753 and 5,866,161 shares issued and outstanding, respectively",38044,36447,35867,34445,33579,32144,31251,30106,29484,28253
Retained earnings,91898,104593,98330,98525,100925,100001,96364,96542,102021,101494
Accumulated other comprehensive income,-3064,-841,-150,-545,-422,245,634,-107,-1048,-1480
Total shareholders' equity,126878,140199,134047,132425,134082,132390,128249,126541,130457,128267
Total liabilities and shareholders' equity,367502,406794,375319,345173,334532,331141,321686,305602,305277,293284

In [11]:
cf_df = df.iloc[row_cf: ,1:]
cf_df.columns = cf_df.iloc[1]
cf_df.dropna()
cf_df.set_index('in million USD',inplace = True)

### <font color=red> Cash Flow </font>

In [12]:
cf_df

50,Q2 '18,Q1 '18,Q4 '17,Q3 '17,Q2 '17,Q1 '17,Q4 '16,Q3 '16,Q2 '16,Q1 '16
in million USD,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
in million USD,Q2 '18,Q1 '18,Q4 '17,Q3 '17,Q2 '17,Q1 '17,Q4 '16,Q3 '16,Q2 '16,Q1 '16
Net income,13822,20065,10714,8717,11029,17891,9014,7796,10516,18361
Depreciation and amortization,2739,2745,2484,2354,2332,2987,2548,2526,2477,2954
Share-based compensation expense,1348,1296,1174,1193,1217,1256,1030,1054,1048,1078
Deferred income tax expense,-498,-33737,1202,1942,1370,1452,-253,2099,1500,1592
Other,-140,-11,-24,67,65,-274,486,-308,198,110
"Accounts receivable, net",9093,-5570,-5474,-802,2486,1697,-4608,597,642,3896
Inventories,-3241,434,-1709,-236,-198,-580,-301,450,170,-102
Vendor non-trade receivables,19375,-9660,-7566,-1200,4887,-375,-6217,267,4073,1826
Other current and non-current assets,-856,-197,-2089,-2333,550,-1446,-88,957,1244,-1058
Accounts payable,-27808,14588,14830,1650,-9322,2460,11459,-234,-8536,-852
Deferred revenue,-313,791,-208,-197,-263,42,-406,-1367,248,-29
Other current and non-current liabilities,1609,37549,2322,-3017,-1583,2124,3462,-3203,-1979,-313
Cash generated by operating activities,15130,28293,15656,8138,12570,27234,16126,10634,11601,27463
Purchases of marketable securities,-7177,-41272,-35705,-23960,-45549,-54272,-30360,-25826,-38406,-47836
Proceeds from maturities of marketable securities,17836,14048,12428,6918,5904,6525,6343,5767,5634,3514
Purchases of other long-term investments,94,-94,-308,-87,0,0,-12,-1250,0,-126
Proceeds from Sales of Marketable Securities,22141,16801,17817,16293,28288,32166,20610,19875,21789,28262
"Payments made in connection with business acquisitions, net",-132,-173,-81,-181,-50,-17,-151,-6,-54,-86
"Payments for acquisition of property, plant and equipment",-4195,-2810,-3865,-2277,-2975,-3334,-3977,-2809,-2336,-3612
Payments for acquisition of intangible assets,154,-154,-135,-209,86,-86,-61,-96,-263,-394
Other,-11,64,-93,323,94,-104,211,-125,-24,-172
Cash used in investing activities,28710,-13590,-9942,-3180,-14202,-19122,-7397,-4470,-13660,-20450
Proceeds from issuance of common stock,327,NaN,281,1,273,NaN,248,0,246,1
Excess tax benefits from equity awards,NaN,NaN,93,534,NaN,NaN,16,127,40,224
Taxes paid related to net share settlement of equity awards,-152,-1038,-228,-858,-159,-629,-209,-610,-154,-597
Dividends and dividend equivalents paid,-3190,-3339,-3270,-3365,-3004,-3130,-3092,-3187,-2902,-2969
Repurchase of common stock,-22756,-10095,-7795,-7093,-7161,-10851,-6026,-10166,-6667,-6863
"Proceeds from issuance of term debt, net",0,6969,6937,10750,10975,0,6970,2400,15584,NaN
Repayments of term debt,-500,NaN,0,-3500,0,NaN,0,-2500,NaN,NaN
"Change in commercial paper, net",-1,2,-14,1987,-506,2385,-4389,4495,737,-1240
Cash used in financing activities,-26272,-7501,-3996,-1544,418,-12225,-6482,-9441,6884,-11444
Increase/(decrease) in cash and cash equivalents,17568,7202,1718,3414,-1214,-4113,2247,-3277,4825,-4431